@font-face {
  font-family: "stroke-gap";
  src: url("../fonts/stroke-gap/stroke-gap.eot?85i08z");
  src: url("../fonts/stroke-gap/stroke-gap.eot?#iefix85i08z")
      format("embedded-opentype"),
    url("../fonts/stroke-gap/stroke-gap.woff?85i08z") format("woff"),
    url("../fonts/stroke-gap/stroke-gap.ttf?85i08z") format("truetype"),
    url("../fonts/stroke-gap/stroke-gap.svg?85i08z#stroke-gap") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="ico-"],
[class*=" ico-"] {
  font-family: "stroke-gap";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-Agenda:before {
  content: "\e6d2";
}
.ico-Anchor:before {
  content: "\e6d3";
}
.ico-Antenna1:before {
  content: "\e6d4";
}
.ico-Antenna2:before {
  content: "\e6d5";
}
.ico-Arrow:before {
  content: "\e6d6";
}
.ico-Astronaut:before {
  content: "\e6d7";
}
.ico-Bag:before {
  content: "\e6d8";
}
.ico-Bascketball:before {
  content: "\e6d9";
}
.ico-BatteryFull:before {
  content: "\e6da";
}
.ico-BatteryLow:before {
  content: "\e6db";
}
.ico-Bicycle:before {
  content: "\e6dc";
}
.ico-BigTruck:before {
  content: "\e6dd";
}
.ico-Blog:before {
  content: "\e6de";
}
.ico-Bomb:before {
  content: "\e6df";
}
.ico-Book:before {
  content: "\e6e0";
}
.ico-BottleofWIne:before {
  content: "\e6e1";
}
.ico-Bourbon:before {
  content: "\e6e2";
}
.ico-Bread:before {
  content: "\e6e3";
}
.ico-Briefcase:before {
  content: "\e6e4";
}
.ico-Bulb:before {
  content: "\e6e5";
}
.ico-Calculator:before {
  content: "\e6e6";
}
.ico-Car:before {
  content: "\e6e7";
}
.ico-Carioca:before {
  content: "\e6e8";
}
.ico-Cassette:before {
  content: "\e6e9";
}
.ico-CD:before {
  content: "\e6ea";
}
.ico-Chart:before {
  content: "\e6eb";
}
.ico-Chart2:before {
  content: "\e6ec";
}
.ico-ChartDown:before {
  content: "\e6ed";
}
.ico-ChartUp:before {
  content: "\e6ee";
}
.ico-ChemicalGlass:before {
  content: "\e6ef";
}
.ico-Click:before {
  content: "\e6f0";
}
.ico-ClipboardChart:before {
  content: "\e6f1";
}
.ico-ClipboardText:before {
  content: "\e6f2";
}
.ico-ClosedLock:before {
  content: "\e6f3";
}
.ico-Cloud:before {
  content: "\e6f4";
}
.ico-CoffeeToGo:before {
  content: "\e6f5";
}
.ico-Column:before {
  content: "\e6f6";
}
.ico-CompactCamera:before {
  content: "\e6f7";
}
.ico-Compass:before {
  content: "\e6f8";
}
.ico-CompassTool:before {
  content: "\e6f9";
}
.ico-Controller:before {
  content: "\e6fa";
}
.ico-Corkscrew:before {
  content: "\e6fb";
}
.ico-Crown:before {
  content: "\e6fc";
}
.ico-Cup:before {
  content: "\e6fd";
}
.ico-Delete:before {
  content: "\e6fe";
}
.ico-DesktopMonitor:before {
  content: "\e6ff";
}
.ico-DiamondRing:before {
  content: "\e700";
}
.ico-Dislike:before {
  content: "\e701";
}
.ico-Dollar:before {
  content: "\e702";
}
.ico-Dollars:before {
  content: "\e703";
}
.ico-Download:before {
  content: "\e704";
}
.ico-DownloadCloud:before {
  content: "\e705";
}
.ico-Drop:before {
  content: "\e706";
}
.ico-DSLRCamera:before {
  content: "\e707";
}
.ico-Edit:before {
  content: "\e708";
}
.ico-EmptyBox:before {
  content: "\e709";
}
.ico-Espresso:before {
  content: "\e70a";
}
.ico-Exit:before {
  content: "\e70b";
}
.ico-ExitFullScreen:before {
  content: "\e70c";
}
.ico-Export:before {
  content: "\e70d";
}
.ico-Eye:before {
  content: "\e70e";
}
.ico-FemaleFigure:before {
  content: "\e70f";
}
.ico-File:before {
  content: "\e710";
}
.ico-FileBox:before {
  content: "\e711";
}
.ico-Files:before {
  content: "\e712";
}
.ico-Flag:before {
  content: "\e713";
}
.ico-Floppy:before {
  content: "\e714";
}
.ico-Folder:before {
  content: "\e715";
}
.ico-Footbal:before {
  content: "\e716";
}
.ico-ForkandKnife:before {
  content: "\e717";
}
.ico-Forward:before {
  content: "\e718";
}
.ico-FullScreen:before {
  content: "\e719";
}
.ico-FullShoppingCart:before {
  content: "\e71a";
}
.ico-Gameboy:before {
  content: "\e71b";
}
.ico-Glasses:before {
  content: "\e71c";
}
.ico-Goto:before {
  content: "\e71d";
}
.ico-Handicap:before {
  content: "\e71e";
}
.ico-Hanger:before {
  content: "\e71f";
}
.ico-Headset:before {
  content: "\e720";
}
.ico-Heart:before {
  content: "\e721";
}
.ico-Help:before {
  content: "\e722";
}
.ico-Hourglass:before {
  content: "\e723";
}
.ico-House:before {
  content: "\e724";
}
.ico-Icecream1:before {
  content: "\e725";
}
.ico-Icecream2:before {
  content: "\e726";
}
.ico-Imbox:before {
  content: "\e727";
}
.ico-Info:before {
  content: "\e728";
}
.ico-Ipod:before {
  content: "\e729";
}
.ico-Key:before {
  content: "\e72a";
}
.ico-Keyboard:before {
  content: "\e72b";
}
.ico-Layers:before {
  content: "\e72c";
}
.ico-Like:before {
  content: "\e72d";
}
.ico-Linked:before {
  content: "\e72e";
}
.ico-List:before {
  content: "\e72f";
}
.ico-Magnet:before {
  content: "\e730";
}
.ico-Mail:before {
  content: "\e731";
}
.ico-ManFigure:before {
  content: "\e732";
}
.ico-Mastercard:before {
  content: "\e733";
}
.ico-Medal:before {
  content: "\e734";
}
.ico-Media:before {
  content: "\e735";
}
.ico-Megaphone:before {
  content: "\e736";
}
.ico-Menu:before {
  content: "\e737";
}
.ico-Message:before {
  content: "\e738";
}
.ico-MessageLeft:before {
  content: "\e739";
}
.ico-MessageRight:before {
  content: "\e73a";
}
.ico-Microphone:before {
  content: "\e73b";
}
.ico-Microphone2:before {
  content: "\e73c";
}
.ico-Mouse:before {
  content: "\e73d";
}
.ico-Movie:before {
  content: "\e73e";
}
.ico-Mug:before {
  content: "\e73f";
}
.ico-MusicMixer:before {
  content: "\e740";
}
.ico-MusicNote:before {
  content: "\e741";
}
.ico-MusicNote2:before {
  content: "\e742";
}
.ico-Mute:before {
  content: "\e743";
}
.ico-Next:before {
  content: "\e744";
}
.ico-Notebook:before {
  content: "\e745";
}
.ico-Notes:before {
  content: "\e746";
}
.ico-On-Off:before {
  content: "\e747";
}
.ico-OpenedLock:before {
  content: "\e748";
}
.ico-PaperClip:before {
  content: "\e749";
}
.ico-Pause:before {
  content: "\e74a";
}
.ico-Pen:before {
  content: "\e74b";
}
.ico-Pencil:before {
  content: "\e74c";
}
.ico-Phone:before {
  content: "\e74d";
}
.ico-Phone2:before {
  content: "\e74e";
}
.ico-PicnicBasket:before {
  content: "\e74f";
}
.ico-Picture:before {
  content: "\e750";
}
.ico-Pill:before {
  content: "\e751";
}
.ico-Pizza:before {
  content: "\e752";
}
.ico-Plaine:before {
  content: "\e753";
}
.ico-Planet:before {
  content: "\e754";
}
.ico-Plaster:before {
  content: "\e755";
}
.ico-Play:before {
  content: "\e756";
}
.ico-Podium:before {
  content: "\e757";
}
.ico-Pointer:before {
  content: "\e758";
}
.ico-Pool:before {
  content: "\e759";
}
.ico-PowerOff:before {
  content: "\e75a";
}
.ico-Printer:before {
  content: "\e75b";
}
.ico-Pulse:before {
  content: "\e75c";
}
.ico-Puzzle:before {
  content: "\e75d";
}
.ico-Radio:before {
  content: "\e75e";
}
.ico-Restart:before {
  content: "\e75f";
}
.ico-Resume:before {
  content: "\e760";
}
.ico-Ringer:before {
  content: "\e761";
}
.ico-Rolodex:before {
  content: "\e762";
}
.ico-Scisors:before {
  content: "\e763";
}
.ico-Screwdriver:before {
  content: "\e764";
}
.ico-Search:before {
  content: "\e765";
}
.ico-Seringe:before {
  content: "\e766";
}
.ico-Settings:before {
  content: "\e767";
}
.ico-Shaker:before {
  content: "\e768";
}
.ico-Share:before {
  content: "\e769";
}
.ico-Shield:before {
  content: "\e76a";
}
.ico-ShoppingCart:before {
  content: "\e76b";
}
.ico-Signal:before {
  content: "\e76c";
}
.ico-SimCard:before {
  content: "\e76d";
}
.ico-Snikers:before {
  content: "\e76e";
}
.ico-Soccer:before {
  content: "\e76f";
}
.ico-Soda:before {
  content: "\e770";
}
.ico-SodaCan:before {
  content: "\e771";
}
.ico-Speaker:before {
  content: "\e772";
}
.ico-Speaker2:before {
  content: "\e773";
}
.ico-Speedometter:before {
  content: "\e774";
}
.ico-Star:before {
  content: "\e775";
}
.ico-Starship:before {
  content: "\e776";
}
.ico-Starship2:before {
  content: "\e777";
}
.ico-Stop:before {
  content: "\e778";
}
.ico-StorageBox:before {
  content: "\e779";
}
.ico-Tablet:before {
  content: "\e77a";
}
.ico-Tag:before {
  content: "\e77b";
}
.ico-TeaMug:before {
  content: "\e77c";
}
.ico-Telesocpe:before {
  content: "\e77d";
}
.ico-TennisBall:before {
  content: "\e77e";
}
.ico-Tie:before {
  content: "\e77f";
}
.ico-Time:before {
  content: "\e780";
}
.ico-Timer:before {
  content: "\e781";
}
.ico-Tools:before {
  content: "\e782";
}
.ico-Trousers:before {
  content: "\e783";
}
.ico-Truck:before {
  content: "\e784";
}
.ico-Tshirt:before {
  content: "\e785";
}
.ico-TV:before {
  content: "\e786";
}
.ico-Typing:before {
  content: "\e787";
}
.ico-Umbrella:before {
  content: "\e788";
}
.ico-Underpants:before {
  content: "\e789";
}
.ico-Unlinked:before {
  content: "\e78a";
}
.ico-UploadCLoud:before {
  content: "\e78b";
}
.ico-User:before {
  content: "\e78c";
}
.ico-Users:before {
  content: "\e78d";
}
.ico-Video:before {
  content: "\e78e";
}
.ico-Volume:before {
  content: "\e78f";
}
.ico-Wallet:before {
  content: "\e790";
}
.ico-Watch:before {
  content: "\e791";
}
.ico-Water:before {
  content: "\e792";
}
.ico-Web:before {
  content: "\e793";
}
.ico-Webcam:before {
  content: "\e794";
}
.ico-Wheelbarrow:before {
  content: "\e795";
}
.ico-WineGlass:before {
  content: "\e796";
}
.ico-WorldGlobe:before {
  content: "\e797";
}
.ico-WorldWide:before {
  content: "\e798";
}
.ico-Wrench:before {
  content: "\e799";
}
.ico-alarm:before {
  content: "\e600";
}
.ico-anchors:before {
  content: "\e601";
}
.ico-article:before {
  content: "\e602";
}
.ico-article-add:before {
  content: "\e603";
}
.ico-article-remove:before {
  content: "\e604";
}
.ico-attachment:before {
  content: "\e605";
}
.ico-attachment-2:before {
  content: "\e606";
}
.ico-basil:before {
  content: "\e607";
}
.ico-basket:before {
  content: "\e608";
}
.ico-battery-charging:before {
  content: "\e609";
}
.ico-battery-empty:before {
  content: "\e60a";
}
.ico-battery-full:before {
  content: "\e60b";
}
.ico-battery-low:before {
  content: "\e60c";
}
.ico-beer-mug:before {
  content: "\e60d";
}
.ico-beer-mug-empty:before {
  content: "\e60e";
}
.ico-bike:before {
  content: "\e60f";
}
.ico-bill:before {
  content: "\e610";
}
.ico-block:before {
  content: "\e611";
}
.ico-bottle:before {
  content: "\e612";
}
.ico-bottle-label:before {
  content: "\e613";
}
.ico-bowl:before {
  content: "\e614";
}
.ico-bowl-2:before {
  content: "\e615";
}
.ico-box:before {
  content: "\e616";
}
.ico-breads:before {
  content: "\e617";
}
.ico-briefcase:before {
  content: "\e618";
}
.ico-brightness:before {
  content: "\e619";
}
.ico-browser:before {
  content: "\e61a";
}
.ico-bubble:before {
  content: "\e61b";
}
.ico-bubble-2:before {
  content: "\e61c";
}
.ico-bubble-rec:before {
  content: "\e61d";
}
.ico-bubble-rec-2:before {
  content: "\e61e";
}
.ico-cake:before {
  content: "\e61f";
}
.ico-calculator:before {
  content: "\e620";
}
.ico-calendar:before {
  content: "\e621";
}
.ico-calender-2:before {
  content: "\e622";
}
.ico-camera:before {
  content: "\e623";
}
.ico-cancel:before {
  content: "\e624";
}
.ico-candy:before {
  content: "\e625";
}
.ico-car:before {
  content: "\e626";
}
.ico-card:before {
  content: "\e627";
}
.ico-cassette:before {
  content: "\e628";
}
.ico-chart:before {
  content: "\e629";
}
.ico-classic-bus:before {
  content: "\e62a";
}
.ico-classic-cocktail:before {
  content: "\e62b";
}
.ico-clipboard:before {
  content: "\e62c";
}
.ico-clipboard-tick:before {
  content: "\e62d";
}
.ico-cloud:before {
  content: "\e62e";
}
.ico-cocktail:before {
  content: "\e62f";
}
.ico-coffee-cup:before {
  content: "\e630";
}
.ico-coffee-cup-2:before {
  content: "\e631";
}
.ico-compass:before {
  content: "\e632";
}
.ico-controller:before {
  content: "\e633";
}
.ico-crop:before {
  content: "\e634";
}
.ico-cupcake:before {
  content: "\e635";
}
.ico-details:before {
  content: "\e636";
}
.ico-diamond:before {
  content: "\e637";
}
.ico-disk:before {
  content: "\e638";
}
.ico-documents:before {
  content: "\e639";
}
.ico-down:before {
  content: "\e63a";
}
.ico-download:before {
  content: "\e63b";
}
.ico-drop:before {
  content: "\e63c";
}
.ico-drumstick:before {
  content: "\e63d";
}
.ico-earth:before {
  content: "\e63e";
}
.ico-edit:before {
  content: "\e63f";
}
.ico-egg:before {
  content: "\e640";
}
.ico-email:before {
  content: "\e641";
}
.ico-envelope:before {
  content: "\e642";
}
.ico-eraser:before {
  content: "\e643";
}
.ico-female:before {
  content: "\e644";
}
.ico-files:before {
  content: "\e645";
}
.ico-fish:before {
  content: "\e646";
}
.ico-flag:before {
  content: "\e647";
}
.ico-folder:before {
  content: "\e648";
}
.ico-folder-add:before {
  content: "\e649";
}
.ico-folder-remove:before {
  content: "\e64a";
}
.ico-fork-knife:before {
  content: "\e64b";
}
.ico-fork-spoon:before {
  content: "\e64c";
}
.ico-fridge:before {
  content: "\e64d";
}
.ico-fullscreen:before {
  content: "\e64e";
}
.ico-gear:before {
  content: "\e64f";
}
.ico-gear-2:before {
  content: "\e650";
}
.ico-gear-3:before {
  content: "\e651";
}
.ico-glasses:before {
  content: "\e652";
}
.ico-grid-4:before {
  content: "\e653";
}
.ico-grid-9:before {
  content: "\e654";
}
.ico-grill:before {
  content: "\e655";
}
.ico-group:before {
  content: "\e656";
}
.ico-gym:before {
  content: "\e657";
}
.ico-headset:before {
  content: "\e658";
}
.ico-heart:before {
  content: "\e659";
}
.ico-home:before {
  content: "\e65a";
}
.ico-hood-food:before {
  content: "\e65b";
}
.ico-hot-ramen:before {
  content: "\e65c";
}
.ico-ice-cream:before {
  content: "\e65d";
}
.ico-ice-cream-2:before {
  content: "\e65e";
}
.ico-ice-cream-3:before {
  content: "\e65f";
}
.ico-imac:before {
  content: "\e660";
}
.ico-image:before {
  content: "\e661";
}
.ico-image-2:before {
  content: "\e662";
}
.ico-image-3:before {
  content: "\e663";
}
.ico-image-4:before {
  content: "\e664";
}
.ico-ipad:before {
  content: "\e665";
}
.ico-ipad-2:before {
  content: "\e666";
}
.ico-ipads:before {
  content: "\e667";
}
.ico-ipads-2:before {
  content: "\e668";
}
.ico-iphone:before {
  content: "\e669";
}
.ico-iphone-2:before {
  content: "\e66a";
}
.ico-iphones:before {
  content: "\e66b";
}
.ico-iphones-2:before {
  content: "\e66c";
}
.ico-jar:before {
  content: "\e66d";
}
.ico-ketchup:before {
  content: "\e66e";
}
.ico-key:before {
  content: "\e66f";
}
.ico-laptop:before {
  content: "\e670";
}
.ico-left:before {
  content: "\e671";
}
.ico-list:before {
  content: "\e672";
}
.ico-location:before {
  content: "\e673";
}
.ico-location-2:before {
  content: "\e674";
}
.ico-locked:before {
  content: "\e675";
}
.ico-locomotive:before {
  content: "\e676";
}
.ico-lollipop:before {
  content: "\e677";
}
.ico-lollipop-2:before {
  content: "\e678";
}
.ico-male:before {
  content: "\e679";
}
.ico-map:before {
  content: "\e67a";
}
.ico-mastercard:before {
  content: "\e67b";
}
.ico-mastercard-2:before {
  content: "\e67c";
}
.ico-mayonnaise:before {
  content: "\e67d";
}
.ico-med-brief:before {
  content: "\e67e";
}
.ico-medicine:before {
  content: "\e67f";
}
.ico-menu:before {
  content: "\e680";
}
.ico-microphone:before {
  content: "\e681";
}
.ico-microphone-2:before {
  content: "\e682";
}
.ico-microwave:before {
  content: "\e683";
}
.ico-minus:before {
  content: "\e684";
}
.ico-modern-bus:before {
  content: "\e685";
}
.ico-mouse:before {
  content: "\e686";
}
.ico-music:before {
  content: "\e687";
}
.ico-news:before {
  content: "\e688";
}
.ico-notepad:before {
  content: "\e689";
}
.ico-ok:before {
  content: "\e68a";
}
.ico-pen:before {
  content: "\e68b";
}
.ico-pencil:before {
  content: "\e68c";
}
.ico-personal:before {
  content: "\e68d";
}
.ico-pizza:before {
  content: "\e68e";
}
.ico-pizza-2:before {
  content: "\e68f";
}
.ico-plane:before {
  content: "\e690";
}
.ico-plate:before {
  content: "\e691";
}
.ico-plus:before {
  content: "\e692";
}
.ico-power:before {
  content: "\e693";
}
.ico-presentation:before {
  content: "\e694";
}
.ico-refresh:before {
  content: "\e695";
}
.ico-reload:before {
  content: "\e696";
}
.ico-ribbon:before {
  content: "\e697";
}
.ico-right:before {
  content: "\e698";
}
.ico-rocket:before {
  content: "\e699";
}
.ico-scooter:before {
  content: "\e69a";
}
.ico-search:before {
  content: "\e69b";
}
.ico-share:before {
  content: "\e69c";
}
.ico-ship:before {
  content: "\e69d";
}
.ico-shopping-bag:before {
  content: "\e69e";
}
.ico-shopping-bag-2:before {
  content: "\e69f";
}
.ico-shuffle:before {
  content: "\e6a0";
}
.ico-social-dribbble:before {
  content: "\e6a1";
}
.ico-social-facebook:before {
  content: "\e6a2";
}
.ico-social-instagram:before {
  content: "\e6a3";
}
.ico-social-instagram-2:before {
  content: "\e6a4";
}
.ico-social-twitter:before {
  content: "\e6a5";
}
.ico-spatula:before {
  content: "\e6a6";
}
.ico-sport-car:before {
  content: "\e6a7";
}
.ico-star:before {
  content: "\e6a8";
}
.ico-statistic-down:before {
  content: "\e6a9";
}
.ico-statistic-up:before {
  content: "\e6aa";
}
.ico-tachometer-2:before {
  content: "\e6ab";
}
.ico-tag:before {
  content: "\e6ac";
}
.ico-tag-2:before {
  content: "\e6ad";
}
.ico-tag-3:before {
  content: "\e6ae";
}
.ico-tag-add:before {
  content: "\e6af";
}
.ico-tag-remove:before {
  content: "\e6b0";
}
.ico-task:before {
  content: "\e6b1";
}
.ico-tea:before {
  content: "\e6b2";
}
.ico-thermometer:before {
  content: "\e6b3";
}
.ico-thumb-down:before {
  content: "\e6b4";
}
.ico-thumb-up:before {
  content: "\e6b5";
}
.ico-tickets:before {
  content: "\e6b6";
}
.ico-tie:before {
  content: "\e6b7";
}
.ico-tie-2:before {
  content: "\e6b8";
}
.ico-tost:before {
  content: "\e6b9";
}
.ico-train:before {
  content: "\e6ba";
}
.ico-trash:before {
  content: "\e6bb";
}
.ico-tv:before {
  content: "\e6bc";
}
.ico-unlocked:before {
  content: "\e6bd";
}
.ico-unlocked-2:before {
  content: "\e6be";
}
.ico-up:before {
  content: "\e6bf";
}
.ico-upload:before {
  content: "\e6c0";
}
.ico-video:before {
  content: "\e6c1";
}
.ico-video-backward:before {
  content: "\e6c2";
}
.ico-video-forward:before {
  content: "\e6c3";
}
.ico-video-negative:before {
  content: "\e6c4";
}
.ico-video-pause:before {
  content: "\e6c5";
}
.ico-video-play:before {
  content: "\e6c6";
}
.ico-video-repeat:before {
  content: "\e6c7";
}
.ico-video-stop:before {
  content: "\e6c8";
}
.ico-view:before {
  content: "\e6c9";
}
.ico-vol-max:before {
  content: "\e6ca";
}
.ico-vol-medium:before {
  content: "\e6cb";
}
.ico-vol-mid:before {
  content: "\e6cc";
}
.ico-vol-mute:before {
  content: "\e6cd";
}
.ico-warning:before {
  content: "\e6ce";
}
.ico-water:before {
  content: "\e6cf";
}
.ico-wine-glass:before {
  content: "\e6d0";
}
.ico-wine-glass-2:before {
  content: "\e6d1";
}
